﻿<div class="col-md-6 col-md-offset-3">
    <h1>Test Page</h1>
    <!--<p>This one doesn't have any modals...</p>-->
</div>


<div class="col-md-6 col-md-offset-3">
    <p>{{bodyText}}</p>
    <button (click)="openModal('custom-modal-1')">Open Modal 1</button>
</div>
<jw-modal id="custom-modal-1">
    <h1>A Custom Modal!</h1>
    <p>Home page text: <input type="text" [(ngModel)]="bodyText" /></p>
    <button (click)="closeModal('custom-modal-1');">Close</button>
</jw-modal>
